In [2]:
import pandas as pd

In [7]:
dtypes = {'first_name': 'category',
         'gender': 'category',
         'type': 'category',
         'state': 'category',
         'party': 'category',}

In [8]:
df = pd.read_csv('legislators-historical.csv', dtype=dtypes,
                usecols=list(dtypes) + ['birthday', 'last_name'],
                parse_dates=['birthday'])

In [11]:
df.head

<bound method NDFrame.head of             last_name  first_name   birthday gender type state  \
0             Bassett     Richard 1745-04-02      M  sen    DE
1               Bland  Theodorick 1742-03-21      M  rep    VA
2               Burke     Aedanus 1743-06-16      M  rep    SC
3             Carroll      Daniel 1730-07-22      M  rep    MD
4              Clymer      George 1739-03-16      M  rep    PA
5              Contee    Benjamin        NaT      M  rep    MD
6              Dalton    Tristram 1738-05-28      M  sen    MA
7               Elmer    Jonathan 1745-11-29      M  sen    NJ
8                 Few     William 1748-06-08      M  sen    GA
9               Floyd     William 1734-12-17      M  rep    NY
10               Gale      George 1756-06-03      M  rep    MD
11            Grayson     William        NaT      M  sen    VA
12              Grout    Jonathan 1737-07-23      M  rep    MA
13            Hawkins    Benjamin 1754-08-15      M  sen    NC
14         Huntington    Benjamin 1736-04-19      M  rep    CT
15              Izard       Ralph        NaT      M  sen    SC
16            Johnson     William 1727-10-07      M  sen    CT
17           Johnston      Samuel 1733-12-15      M  sen    NC
18                Lee     Richard 1732-01-20      M  sen    VA
19             Maclay     William 1737-07-20      M  sen    PA
20            Mathews      George 1739-08-30      M  rep    GA
21             Morris      Robert 1734-01-20      M  sen    PA
22          Partridge      George 1740-02-08      M  rep    MA
23           Paterson     William 1745-12-24      M  sen    NJ
24              Smith     William 1728-04-12      M  rep    MD
25              Stone     Michael        NaT      M  rep    MD
26     Van Rensselaer    Jeremiah 1738-08-27      M  rep    NY
27            Wynkoop       Henry 1737-03-02      M  rep    PA
28          Dickinson    Philemon 1739-04-05      M  sen    NJ
29             Walker        John 1744-02-13      M  sen    VA
...               ...         ...        ...    ...  ...   ...
11945         Rothfus       Keith 1962-04-25      M  rep    PA
11946        Oâ€™Rourke        Beto 1972-09-26      M  rep    TX
11947         Sanford    Marshall 1960-05-28      M  rep    SC
11948            Brat       David 1964-07-27      M  rep    VA
11949          Knight       Steve 1966-12-17      M  rep    CA
11950         Walters        Mimi 1962-05-14      F  rep    CA
11951         Curbelo      Carlos 1980-03-01      M  rep    FL
11952            Blum         Rod 1955-04-26      M  rep    IA
11953           Young       David 1968-05-11      M  rep    IA
11954        Poliquin       Bruce 1953-11-01      M  rep    ME
11955          Bishop        Mike 1967-03-18      M  rep    MI
11956           Trott        Dave 1960-10-16      M  rep    MI
11957       MacArthur         Tom 1960-10-16      M  rep    NJ
11958         Russell       Steve 1963-05-25      M  rep    OK
11959        Costello        Ryan 1976-09-07      M  rep    PA
11960            Love         Mia 1975-12-06      F  rep    UT
11961        Comstock     Barbara 1959-06-30      F  rep    VA
11962         Donovan      Daniel 1956-11-06      M  rep    NY
11963        Hanabusa     Colleen 1951-05-04      F  rep    HI
11964     Shea-Porter       Carol 1952-12-02      F  rep    NH
11965           Lewis       Jason 1955-09-23      M  rep    MN
11966          Kihuen       Ruben 1980-04-25      M  rep    NV
11967            Faso        John 1952-08-25      M  rep    NY
11968          Tenney     Claudia 1961-02-04      F  rep    NY
11969          Taylor       Scott 1979-06-27      M  rep    VA
11970         Garrett      Thomas 1972-03-27      M  rep    VA
11971          Handel       Karen 1962-04-18      F  rep    GA
11972           Jones      Brenda 1959-10-24      F  rep    MI
11973          Marino         Tom 1952-08-15      M  rep    PA
11974           Jones      Walter 1943-02-10      M  rep    NC

                     party
0      Anti-Administration
1                      NaN
2                      NaN
3                      NaN
4                      NaN
5                      NaN
6       Pro-Administration
7       Pro-Administration
8      Anti-Administration
9                      NaN
10                     NaN
11     Anti-Administration
12                     NaN
13      Pro-Administration
14                     NaN
15      Pro-Administration
16      Pro-Administration
17      Pro-Administration
18     Anti-Administration
19     Anti-Administration
20                     NaN
21      Pro-Administration
22                     NaN
23      Pro-Administration
24                     NaN
25                     NaN
26                     NaN
27                     NaN
28      Pro-Administration
29      Pro-Administration
...                    ...
11945           Republican
11946             Democrat
11947           Republican
11948           Republican
11949           Republican
11950           Republican
11951           Republican
11952           Republican
11953           Republican
11954           Republican
11955           Republican
11956           Republican
11957           Republican
11958           Republican
11959           Republican
11960           Republican
11961           Republican
11962           Republican
11963             Democrat
11964             Democrat
11965           Republican
11966             Democrat
11967           Republican
11968           Republican
11969           Republican
11970           Republican
11971           Republican
11972             Democrat
11973           Republican
11974           Republican

[11975 rows x 7 columns]>

In [12]:
df.dtypes

last_name             object
first_name          category
birthday      datetime64[ns]
gender              category
type                category
state               category
party               category
dtype: object

In [13]:
n_by_state = df.groupby("state")['last_name'].count()
n_by_state.head(10)

state
AK     16
AL    206
AR    117
AS      2
AZ     48
CA    361
CO     90
CT    240
DC      2
DE     97
Name: last_name, dtype: int64

In [17]:
n_by_state_gender = df.groupby(["state", 'gender'])['last_name'].count()
n_by_state_gender.head(10)

state  gender
AK     M          16
AL     F           3
       M         203
AR     F           5
       M         112
AS     M           2
AZ     F           3
       M          45
CA     F          23
       M         338
Name: last_name, dtype: int64

In [18]:
type(n_by_state_gender)

pandas.core.series.Series

In [20]:
n_by_state_gender.index[:5]

MultiIndex(levels=[['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'DK', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OL', 'OR', 'PA', 'PI', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'], ['F', 'M']],
           codes=[[0, 1, 1, 2, 2], [1, 0, 1, 0, 1]],
           names=['state', 'gender'])

In [21]:
n_by_state_gender = df.groupby(["state", 'gender'], as_index=False)['last_name'].count()
n_by_state_gender.head(10)

  state gender  last_name
0    AK      F        NaN
1    AK      M       16.0
2    AL      F        3.0
3    AL      M      203.0
4    AR      F        5.0
5    AR      M      112.0
6    AS      F        NaN
7    AS      M        2.0
8    AZ      F        3.0
9    AZ      M       45.0

In [22]:
by_state = df.groupby("state")
print(by_state)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000185933A75F8>

In [24]:
for state, frame in by_state:
    print(f'first 2 entries for {state!r}')
    print('--------------------')
    print(frame.head(2), end='\n\n')

first 2 entries for 'AK'
--------------------
     last_name first_name   birthday gender type state        party
6619    Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647      Cale     Thomas 1848-09-17      M  rep    AK  Independent

first 2 entries for 'AL'
--------------------
    last_name first_name   birthday gender type state       party
912   Crowell       John 1780-09-18      M  rep    AL  Republican
991    Walker       John 1783-08-12      M  sen    AL  Republican

first 2 entries for 'AR'
--------------------
     last_name first_name   birthday gender type state party
1001     Bates      James 1788-08-25      M  rep    AR   NaN
1279    Conway      Henry 1793-03-18      M  rep    AR   NaN

first 2 entries for 'AS'
--------------------
          last_name first_name   birthday gender type state     party
10797         Sunia       FofÃ³ 1937-03-13      M  rep    AS  Democrat
11755  Faleomavaega        Eni 1943-08-15      M  rep    AS  Democrat

first 2 entries for 'AZ'
--------------------
     last_name first_name   birthday gender type state       party
3674    Poston    Charles 1825-04-20      M  rep    AZ  Republican
3725   Goodwin       John 1824-10-18      M  rep    AZ  Republican

first 2 entries for 'CA'
--------------------
     last_name first_name   birthday gender type state        party
2650   Gilbert     Edward        NaT      M  rep    CA     Democrat
2742    Wright     George 1816-06-04      M  rep    CA  Independent

first 2 entries for 'CO'
--------------------
     last_name first_name   birthday gender type state  \
3614    Bennet      Hiram 1826-09-02      M  rep    CO
3933  Bradford      Allen 1815-07-23      M  rep    CO

                        party
3614  Conservative Republican
3933               Republican

first 2 entries for 'CT'
--------------------
     last_name first_name   birthday gender type state               party
14  Huntington   Benjamin 1736-04-19      M  rep    CT                 NaN
16     Johnson    William 1727-10-07      M  sen    CT  Pro-Administration

first 2 entries for 'DC'
--------------------
      last_name first_name   birthday gender type state       party
4232    Chipman     Norton 1834-03-07      M  rep    DC  Republican
10821  Fauntroy     Walter 1933-02-06      M  rep    DC    Democrat

first 2 entries for 'DE'
--------------------
   last_name first_name   birthday gender type state                party
0    Bassett    Richard 1745-04-02      M  sen    DE  Anti-Administration
40      Read     George 1733-09-18      M  sen    DE                  NaN

first 2 entries for 'DK'
--------------------
     last_name first_name   birthday gender type state     party
3642     Jayne    William 1826-10-08      M  rep    DK       NaN
3687      Todd       John 1814-04-04      M  rep    DK  Democrat

first 2 entries for 'FL'
--------------------
      last_name first_name   birthday gender type state party
1031  HernÃ¡ndez     Joseph 1788-05-26      M  rep    FL   NaN
1090       Call    Richard 1792-10-24      M  rep    FL   NaN

first 2 entries for 'GA'
--------------------
   last_name first_name   birthday gender type state                party
8        Few    William 1748-06-08      M  sen    GA  Anti-Administration
20   Mathews     George 1739-08-30      M  rep    GA                  NaN

first 2 entries for 'GU'
--------------------
      last_name first_name   birthday gender type state       party
10704   Won Pat    Antonio 1908-12-10      M  rep    GU    Democrat
10874      Blaz        Ben 1928-02-14      M  rep    GU  Republican

first 2 entries for 'HI'
--------------------
     last_name first_name   birthday gender type state       party
6395    Wilcox     Robert 1855-02-15      M  rep    HI         NaN
7524   Baldwin      Henry 1871-01-12      M  rep    HI  Republican

first 2 entries for 'IA'
--------------------
     last_name first_name   birthday gender type state     party
1931   Chapman    William 1808-08-11      M  rep    IA  Democrat
2391  Hastings   Serranus 1813-11-22      M  rep    IA  Democrat

first 2 entries for 'ID'
--------------------
     last_name first_name   birthday gender type state       party
3693   Wallace    William 1811-07-19      M  rep    ID  Republican
3846  Holbrook     Edward 1836-05-06      M  rep    ID    Democrat

first 2 entries for 'IL'
--------------------
      last_name first_name   birthday gender type state party
595        Bond   Shadrack 1773-11-24      M  rep    IL   NaN
772  Stephenson   Benjamin        NaT      M  rep    IL   NaN

first 2 entries for 'IN'
--------------------
    last_name first_name   birthday gender type state       party
431     Parke   Benjamin 1777-09-22      M  rep    IN         NaN
985    Taylor     Waller        NaT      M  sen    IN  Republican

first 2 entries for 'KS'
--------------------
      last_name first_name   birthday gender type state       party
3163  Whitfield       John 1818-03-11      M  rep    KS    Democrat
3422    Parrott     Marcus 1828-10-27      M  rep    KS  Republican

first 2 entries for 'KY'
--------------------
    last_name   first_name birthday gender type state                party
55    Edwards         John      NaT      M  sen    KY  Anti-Administration
113   Greenup  Christopher      NaT      M  rep    KY           Republican

first 2 entries for 'LA'
--------------------
     last_name first_name birthday gender type state       party
584  DestrÃ©han       Jean      NaT      M  sen    LA     Unknown
585   Magruder      Allan      NaT      M  sen    LA  Republican

first 2 entries for 'MA'
--------------------
   last_name first_name   birthday gender type state               party
6     Dalton   Tristram 1738-05-28      M  sen    MA  Pro-Administration
12     Grout   Jonathan 1737-07-23      M  rep    MA                 NaN

first 2 entries for 'MD'
--------------------
  last_name first_name   birthday gender type state party
3   Carroll     Daniel 1730-07-22      M  rep    MD   NaN
5    Contee   Benjamin        NaT      M  rep    MD   NaN

first 2 entries for 'ME'
--------------------
     last_name first_name   birthday gender type state       party
1019      Dane     Joseph 1778-10-25      M  rep    ME  Federalist
1029    Harris       Mark 1779-01-27      M  rep    ME  Republican

first 2 entries for 'MI'
--------------------
     last_name first_name   birthday gender type state party
1062    Sibley    Solomon 1769-10-07      M  rep    MI   NaN
1133   Richard    Gabriel 1767-10-15      M  rep    MI   NaN

first 2 entries for 'MN'
--------------------
      last_name first_name   birthday gender type state     party
2866     Sibley      Henry 1811-02-20      M  rep    MN       NaN
3241  Kingsbury    William 1828-06-04      M  rep    MN  Democrat

first 2 entries for 'MO'
--------------------
     last_name first_name   birthday gender type state party
627  Hempstead     Edward 1780-06-03      M  rep    MO   NaN
712     Easton      Rufus 1774-05-04      M  rep    MO   NaN

first 2 entries for 'MS'
--------------------
    last_name  first_name   birthday gender type state party
256    Greene      Thomas 1758-02-26      M  rep    MS   NaN
260    Hunter  Narsworthy        NaT      M  rep    MS   NaN

first 2 entries for 'MT'
--------------------
      last_name first_name   birthday gender type state     party
3756     McLean     Samuel 1826-08-07      M  rep    MT  Democrat
3941  Cavanaugh      James 1823-07-04      M  rep    MT  Democrat

first 2 entries for 'NC'
--------------------
   last_name first_name   birthday gender type state               party
13   Hawkins   Benjamin 1754-08-15      M  sen    NC  Pro-Administration
17  Johnston     Samuel 1733-12-15      M  sen    NC  Pro-Administration

first 2 entries for 'ND'
--------------------
     last_name first_name   birthday gender type state       party
5384     Casey      Lyman 1837-05-06      M  sen    ND  Republican
5479    Pierce    Gilbert 1839-01-11      M  sen    ND  Republican

first 2 entries for 'NE'
--------------------
     last_name first_name   birthday gender type state     party
2954  Giddings   Napoleon 1816-01-02      M  rep    NE  Democrat
3068   Chapman       Bird 1821-08-24      M  rep    NE  Democrat

first 2 entries for 'NH'
--------------------
    last_name first_name   birthday gender type state       party
99    Wingate      Paine 1739-05-14      M  rep    NH         NaN
120   Langdon       John 1741-06-26      M  sen    NH  Republican

first 2 entries for 'NJ'
--------------------
   last_name first_name   birthday gender type state               party
7      Elmer   Jonathan 1745-11-29      M  sen    NJ  Pro-Administration
23  Paterson    William 1745-12-24      M  sen    NJ  Pro-Administration

first 2 entries for 'NM'
--------------------
      last_name first_name   birthday gender type state     party
2885  Weightman    Richard 1816-12-28      M  rep    NM  Democrat
3420      Otero     Miguel 1829-06-21      M  rep    NM       NaN

first 2 entries for 'NV'
--------------------
        last_name first_name   birthday gender type state       party
3510  Cradlebaugh       John 1819-02-22      M  rep    NV         NaN
3664         Mott     Gordon 1812-10-21      M  rep    NV  Republican

first 2 entries for 'NY'
--------------------
         last_name first_name   birthday gender type state party
9            Floyd    William 1734-12-17      M  rep    NY   NaN
26  Van Rensselaer   Jeremiah 1738-08-27      M  rep    NY   NaN

first 2 entries for 'OH'
--------------------
    last_name first_name   birthday gender type state       party
226  McMillan    William 1764-03-02      M  rep    OH         NaN
254   Fearing       Paul 1762-02-28      M  rep    OH  Federalist

first 2 entries for 'OK'
--------------------
     last_name first_name   birthday gender type state        party
5601    Harvey      David 1845-03-20      M  rep    OK   Republican
6060  Callahan      James 1852-12-19      M  rep    OK  Free Silver

first 2 entries for 'OL'
--------------------
    last_name first_name   birthday gender type state party
404     Clark     Daniel        NaT      M  rep    OL   NaN
503   Poydras     Julien 1740-04-03      M  rep    OL   NaN

first 2 entries for 'OR'
--------------------
     last_name first_name   birthday gender type state     party
2728  Thurston     Samuel 1816-04-15      M  rep    OR  Democrat
3398      Lane     Joseph 1801-12-14      M  sen    OR  Democrat

first 2 entries for 'PA'
--------------------
   last_name first_name   birthday gender type state                party
4     Clymer     George 1739-03-16      M  rep    PA                  NaN
19    Maclay    William 1737-07-20      M  sen    PA  Anti-Administration

first 2 entries for 'PI'
--------------------
             last_name first_name   birthday gender type state party
6835            Ocampo      Pablo 1853-01-25      M  rep    PI   NaN
6939  Legarda Y Tuason     Benito 1853-09-27      M  rep    PI   NaN

first 2 entries for 'PR'
--------------------
      last_name first_name   birthday gender type state       party
6426    Degetau   Federico 1862-12-05      M  rep    PR  Republican
6811  Larrinaga      Tulio 1847-01-15      M  rep    PR    Unionist

first 2 entries for 'RI'
--------------------
    last_name first_name   birthday gender type state       party
61   Bradford    William 1729-11-04      M  sen    RI  Federalist
105    Bourne   Benjamin 1755-09-09      M  rep    RI  Federalist

first 2 entries for 'SC'
--------------------
   last_name first_name   birthday gender type state               party
2      Burke    Aedanus 1743-06-16      M  rep    SC                 NaN
15     Izard      Ralph        NaT      M  sen    SC  Pro-Administration

first 2 entries for 'SD'
--------------------
     last_name first_name   birthday gender type state       party
5423   Gifford      Oscar 1842-10-20      M  rep    SD  Republican
5462     Moody     Gideon 1832-10-16      M  sen    SD  Republican

first 2 entries for 'TN'
--------------------
    last_name first_name   birthday gender type state       party
141     White      James 1749-06-16      M  rep    TN         NaN
142    Blount    William 1749-03-26      M  sen    TN  Republican

first 2 entries for 'TX'
--------------------
     last_name first_name   birthday gender type state     party
2568  Pilsbury    Timothy 1789-04-12      M  rep    TX  Democrat
2671   Kaufman      David 1813-12-18      M  rep    TX  Democrat

first 2 entries for 'UT'
--------------------
      last_name first_name   birthday gender type state     party
3484  Bernhisel       John 1799-07-23      M  rep    UT      Whig
3647     Kinney       John 1816-04-02      M  rep    UT  Democrat

first 2 entries for 'VA'
--------------------
   last_name  first_name   birthday gender type state                party
1      Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
11   Grayson     William        NaT      M  sen    VA  Anti-Administration

first 2 entries for 'VI'
--------------------
      last_name first_name   birthday gender type state       party
10496     Evans     Melvin 1917-08-07      M  rep    VI  Republican
11088   de Lugo        Ron 1930-08-02      M  rep    VI    Democrat

first 2 entries for 'VT'
--------------------
   last_name first_name   birthday gender type state                party
41  Robinson      Moses 1741-03-22      M  sen    VT  Anti-Administration
86     Niles  Nathaniel 1741-04-03      M  rep    VT                  NaN

first 2 entries for 'WA'
--------------------
      last_name first_name   birthday gender type state     party
2979  Lancaster   Columbia 1803-08-26      M  rep    WA  Democrat
3052   Anderson      James 1822-02-16      M  rep    WA  Democrat

first 2 entries for 'WI'
--------------------
     last_name first_name   birthday gender type state     party
2410    Martin     Morgan 1805-03-31      M  rep    WI  Democrat
2503   Darling      Mason 1801-05-18      M  rep    WI  Democrat

first 2 entries for 'WV'
--------------------
       last_name first_name   birthday gender type state  \
3615       Blair      Jacob 1821-04-11      M  rep    WV
3690  Van Winkle      Peter 1808-09-07      M  sen    WV

                       party
3615  Unconditional Unionist
3690              Republican

first 2 entries for 'WY'
--------------------
     last_name first_name   birthday gender type state       party
4009  Nuckolls    Stephen 1825-08-16      M  rep    WY    Democrat
4138     Jones    William 1842-02-20      M  rep    WY  Republican

In [25]:
by_state.groups['PA']

Int64Index([    4,    19,    21,    27,    38,    57,    69,    76,    84,
               88,
            ...
            11842, 11866, 11875, 11877, 11887, 11891, 11932, 11945, 11959,
            11973],
           dtype='int64', length=1053)

In [26]:
by_state.get_group('PA')

,last_name,first_name,birthday,gender,type,state,party
4,Clymer,George,1739-03-16,M,rep,PA,NaN
19,Maclay,William,1737-07-20,M,sen,PA,Anti-Administration
21,Morris,Robert,1734-01-20,M,sen,PA,Pro-Administration
27,Wynkoop,Henry,1737-03-02,M,rep,PA,NaN
38,Jacobs,Israel,1726-06-09,M,rep,PA,NaN
57,Armstrong,James,1748-08-29,M,rep,PA,NaN
69,Fitzsimons,Thomas,NaT,M,rep,PA,NaN
76,Irvine,William,1741-11-03,M,rep,PA,NaN
84,Montgomery,William,1736-08-03,M,rep,PA,NaN
88,Scott,Thomas,NaT,M,rep,PA,NaN
103,Bingham,William,1752-03-08,M,sen,PA,Federalist
124,Muhlenberg,Frederick,1750-01-01,M,rep,PA,Republican
132,Richards,John,1753-04-18,M,rep,PA,Republican
155,Chapman,John,1740-10-18,M,rep,PA,Federalist
160,Ege,George,1748-03-09,M,rep,PA,Federalist
171,McClenachan,Blair,NaT,M,rep,PA,Republican
175,Ross,James,1762-07-12,M,sen,PA,Federalist
179,Sitgreaves,Samuel,1764-03-16,M,rep,PA,Federalist
185,Swanwick,John,NaT,M,rep,PA,Republican
210,Gallatin,Albert,1761-01-29,M,rep,PA,Republican
216,Hartley,Thomas,1748-09-07,M,rep,PA,Federalist
220,Kittera,John,NaT,M,rep,PA,Federalist
240,Thomas,Richard,1744-12-30,M,rep,PA,Federalist
241,Waln,Robert,1765-02-22,M,rep,PA,Federalist
247,Boude,Thomas,1752-05-17,M,rep,PA,Federalist
264,Jones,William,NaT,M,rep,PA,Republican
267,Logan,George,1753-09-09,M,sen,PA,Republican
271,Muhlenberg,John,1746-10-01,M,sen,PA,Democratic Republican
290,Woods,Henry,NaT,M,rep,PA,Federalist
309,Hoge,John,1760-09-10,M,rep,PA,Republican
...,...,...,...,...,...,...,...
11417,Hart,Melissa,1962-04-04,F,rep,PA,Republican
11445,Sherwood,Donald,1941-03-05,M,rep,PA,Republican
11448,Specter,Arlen,1930-02-12,M,sen,PA,Democrat
11454,Weldon,W.,1947-07-22,M,rep,PA,Republican
11471,English,Philip,1956-06-20,M,rep,PA,Republican
11506,Peterson,John,1938-12-25,M,rep,PA,Republican
11541,Carney,Christopher,1959-03-02,M,rep,PA,Democrat
11544,Dahlkemper,Kathleen,1957-12-10,F,rep,PA,Democrat
11567,Kanjorski,Paul,1937-04-02,M,rep,PA,Democrat
11586,Murphy,Patrick,1973-10-19,M,rep,PA,Democrat
11587,Murtha,John,1932-06-17,M,rep,PA,Democrat
11599,Sestak,Joe,1951-12-12,M,rep,PA,Democrat
11652,Altmire,Jason,1968-03-07,M,rep,PA,Democrat
11673,Critz,Mark,1962-01-05,M,rep,PA,Democrat
11682,Holden,Tim,1957-03-05,M,rep,PA,Democrat
11698,Platts,Todd,1962-03-05,M,rep,PA,Republican
11756,Gerlach,Jim,1955-02-25,M,rep,PA,Republican
11778,Schwartz,Allyson,1948-10-03,F,rep,PA,Democrat
11800,Fattah,Chaka,1956-11-21,M,rep,PA,Democrat
11822,Fitzpatrick,Michael,1963-06-28,M,rep,PA,Republican
11842,Pitts,Joseph,1939-10-10,M,rep,PA,Republican
11866,Murphy,Tim,1952-09-11,M,rep,PA,Republican
11875,Meehan,Patrick,1955-10-20,M,rep,PA,Republican
11877,Dent,Charles,1960-05-24,M,rep,PA,Republican
11887,Barletta,Lou,1956-01-28,M,rep,PA,Republican
11891,Brady,Robert,1945-04-07,M,rep,PA,Democrat
11932,Shuster,Bill,1961-01-10,M,rep,PA,Republican
11945,Rothfus,Keith,1962-04-25,M,rep,PA,Republican
11959,Costello,Ryan,1976-09-07,M,rep,PA,Republican
11973,Marino,Tom,1952-08-15,M,rep,PA,Republican

In [32]:
dstate, frame = next(iter(by_state))
frame.head(3)

     last_name first_name   birthday gender type state        party
6619    Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647      Cale     Thomas 1848-09-17      M  rep    AK  Independent
7442   Grigsby     George 1874-12-02      M  rep    AK          NaN

In [33]:
frame["last_name"].count()

16